<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdc.mim.user.mapper.UserStatusMapper">
    <insert id="insertUserStatuses">
        INSERT INTO user_status (uid, status, lastOnlineTime, doNotify) VALUES
        <foreach collection='list' item='item' index='index' separator=','>
            (#{item.uid}, #{item.status}, #{item.lastOnlineTime}, #{item.doNotify})
        </foreach>
    </insert>

    <select id="findUserStatusesByUids" resultType="userStatusEntity">
        SELECT * FROM user_status WHERE uid IN
        <foreach collection='list' item='item' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </select>

    <delete id="deleteUserStatuses">
        DELETE FROM user_status WHERE uid IN
        <foreach collection='list' item='item' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </delete>

    <update id="updateUserStatuses">
        <foreach collection='list' item='item' index='index' open='' separator=';' close=''>
            UPDATE user_status SET status = #{item.status}, lastOnlineTime = #{item.lastOnlineTime}, doNotify =
            #{item.doNotify} WHERE uid = #{item.uid}
        </foreach>
    </update>
</mapper>