<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdc.mim.user.mapper.UserEntityMapper">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="uid"
            parameterType="UserEntity">insert into user (userName, passwdMd5, nickName, registerDate)
        values (#{userName}, #{passwdMd5}, #{nickName}, #{registerDate})
    </insert>


    <insert id="insertUsers" useGeneratedKeys="true" keyProperty="uid" parameterType="UserEntity">insert
        into user (userName, passwdMd5, nickName, registerDate) values
        <foreach
                collection='list' item='user'
                separator=','>(#{user.userName}, #{user.passwdMd5}, #{user.nickName},
            #{user.registerDate})
        </foreach>
    </insert>

    <delete id="deleteByNames">
        delete from user where userName in
        <foreach collection="list" item="name"
                 open="(" close=")" separator=",">#{name}
        </foreach>
    </delete>

    <delete id="deleteByIds">delete from user where uid in
        <foreach collection="list" item="id"
                 open="(" close=")" separator=",">#{id}
        </foreach>
    </delete>

    <update id="updateUsers">
        <foreach collection='list' item='user' index='index' open='' separator=';' close=''>
            update user set userName = #{user.userName}, passwdMd5 = #{user.passwdMd5}, nickName = #{user.nickName},
            registerDate = #{user.registerDate} where uid = #{user.uid}
        </foreach>
    </update>
</mapper>