<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdc.mim.rest.mapper.FriendMapper">
    <insert id="insertFriends">
        INSERT INTO friend (uid, friendUid, createTime) VALUES
        <foreach collection='list' item='item' index='index' separator=','>
            (#{item.uid}, #{item.friendUid}, #{item.createTime})
        </foreach>
    </insert>

    <delete id="deleteByUids">
        DELETE FROM friend WHERE uid IN
        <foreach collection='list' item='item' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </delete>

    <update id="updateFriends">
        <foreach collection='list' item='item' index='index' open='' separator=';' close=''>
            UPDATE friend SET friendUid = #{item.friendUid}, createTime = #{item.createTime} WHERE uid = #{item.uid}
        </foreach>
    </update>
</mapper>