<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdc.mim.rest.mapper.MaxSeqMapper">
    <update id="updateMaxSeqs" parameterType="MaxSeqEntity">
        UPDATE max_seq SET maxSeq = CASE uid
        <foreach collection='maxSeqs' item='maxSeq' index='index' separator=' '>
            WHEN #{maxSeq.uid} THEN #{maxSeq.maxSeq}
        </foreach>
        END
        WHERE uid IN
        <foreach collection='maxSeqs' item='maxSeq' index='index' open='(' separator=',' close=')'>
            #{maxSeq.uid}
        </foreach>
    </update>
</mapper>